/*-------------------MOBILE------------------*/

@media screen and (max-width: 767px) {
  .section-title {
    text-align: center;
  }

  .hero-name {
    margin-bottom: 72px;
  }

  .logo-logo {
    text-align: center;
  }

  .list-team {
    flex-direction: column;
  }

  .footer-container {
    justify-content: center;
  }

  .footer-text {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-title {
    margin-top: 72px;
    text-align: center;
  }

  .ft-socialmedia-list {
    justify-content: center;
  }

  .subscribe-input {
    width: 100%;
    margin-bottom: 16px;
  }

  .modal {
    max-width: 392px;
  }
}

@media screen and (min-width: 331px) and (max-width: 427px) { 
.mob-phone-link {
    font-size: 26px;
}
}

@media screen and (max-width: 330px) { 
.mob-phone-link {
    font-size: 20px;
}
}

/*-----------------------TABLET------------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*----------Header--------*/
  .menu-open-btn {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-list .header-link:hover,
  .header-list .header-link:focus {
    color: #404bbf;
  }

  .header-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus,
  .header-link.current {
    color: var(--accent-dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-dark-color);
  }

  .header-address {
    display: block;
  }

  .header-contact-list:not(:last-child) {
    margin-bottom: 12px;
  }

  .header-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*---------Hero--------*/
  .logo {
    margin-right: 76px;
  }

  .hero-section {
    width: 100%;
    height: 436px;
    background-color: var(--main-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab2x.jpg);
    }
  }

  .hero-name {
    font-weight: 700px;
    font-size: 56px;
    max-width: 496px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }

  .section-title {
    text-align: left;
  }

  /*-----2 Our Features-----*/
  .about-features {
    row-gap: 72px;
    column-gap: 24px;
    flex-direction: row;
  }

  .about-features-item {
    width: calc((100% - 24px) / 2);
  }

  /*------4 Section Team-----*/
  .section-team > .container {
    max-width: 582px;
  }

  .list-team {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
  }

  .list-team-image {
    width: calc((100% - 24px) / 2);
  }

  /*------5 Section Customers-----*/
  .container-customers {
    max-width: 582px;
  }

  .about-customers {
    column-gap: 24px;
  }

  .about-customers-item {
    width: calc((100% - 48px) / 3);
  }

  /*-----------Footer--------*/
  .footer-container {
    max-width: 582px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }
}

/*-----------------------DESKTOP----------------------*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /*-----------Header-----------*/
  .menu-open-btn {
    display: none;
  }

  .logo {
    margin-right: 76px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: auto;
    padding: 0;
  }

  .header-list {
    display: flex;
  }

  .header-list .header-link:hover,
  .header-list .header-link:focus {
    color: #404bbf;
  }

  .header-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus,
  .header-link.current {
    color: var(--accent-dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-dark-color);
  }

  .header-address {
    display: flex;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .header-contact-list:not(:last-child) {
    margin-bottom: 0;
  }

  .header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*-------Hero-----*/
  .hero-section {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--main-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk2x.jpg);
    }
  }

  .hero-name {
    font-weight: 700px;
    font-size: 56px;
    max-width: 496px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }

  /*----2 Section Our Features----*/
  .section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-features {
    display: flex;
    gap: 24px;
  }

  .about-features-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .section-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .features-icon {
    display: flex;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--primary-background-color);
  }

  /*------3 Section What Doing-----*/
  .features-doing {
    display: block;
    padding-top: 0;
    padding-bottom: 120px;
  }

  .section-features-doing {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-text-color);
    margin-bottom: 72px;
  }
  .picture-list {
    display: flex;
    gap: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    padding: 0;
  }

  .picture-list-image {
    width: calc((100% - 48px) - 3);
  }

  /*--------4 Section Team-------*/
  .section-team > .container {
    max-width: 1158px;
  }

  .section-team {
    padding: 120 0;
  }

  .list-team {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1158px;
  }

  .list-team-image {
    width: calc((100% - 72px) / 4);
  }

  /*-----5 Section Customers-----*/
  .section-customers {
    padding: 120 0;
  }

  .about-customers-item {
    width: calc((100% - 120px) / 6);
  }

  /*------------Footer-----------*/
  .footer-container {
    display: flex;
    gap: 0;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .subscribe {
    margin-left: auto;
  }
}
