:root {
  --page-background-color: #ffffff;
  --text-color: #434455;
  --main-text-color: #2e2f42;
  --primary-background-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --accent-dark-color: #404bbf;
  --helper-text-color: #8e8f99;
  --green-color: #31d0aa;
}

body {
  color: var(--text-color);
  background-color: var(--page-background-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

/*-----------HEADER------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--accent-color);
}

.accent {
  color: var(--main-text-color);
}

.logo,
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.address {
  margin-left: auto;
  font-style: normal;
}

.header-list {
  display: none;
}

.header-address {
  display: none;
}

/*------MOBILE MENU-------*/

.menu-open-btn {
  margin-left: 0;
  border: none;
  background-color: transparent;
  padding: 24px 0;
}

.menu-open-icon {
  stroke: var(--main-text-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  padding: 24px 24px 40px 40px;
  background-color: var(--page-background-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu-list {
  margin-bottom: 184px;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  width: 24px;
  height: 24px;
  margin-bottom: 32px;
  border-radius: 24px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(46, 47, 66, 0.1);
  color: var(--main-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: var(--accent-dark-color);
  border: none;
}

.mob-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:hover,
.mob-link:focus {
  color: var(--accent-dark-color);
}

.current {
  color: var(--accent-dark-color);
}

.mob-menu-address {
  font-style: normal;
}

.mob-address-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-phone-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-transform: capitalize;
}

.mob-mail-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--text-color);
}

.mob-socialmedia-list {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.mob-socialmedia-item {
  width: 40px;
  height: 40px;
}

.mob-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link:hover,
.mob-social-link:focus {
  color: var(--accent-dark-color);
  background-color: var(--accent-dark-color);
}

.social-icon {
  fill: var(--primary-background-color);
}

/*---------1 SECTION HERO--------*/

.hero-section {
  width: 100%;
  height: 432px;
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--main-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob2x.jpg);
  }
}

.hero-name {
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  max-width: 320px;
  height: 80px;
  color: var(--page-background-color);
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em; 
}

.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.hero-button {
  display: block;
  min-width: 169px;
  text-align: center;
  padding: 16px 32px;
  height: 56px;
   margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--page-background-color);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*-----2 SECTION OUR FEATURES------*/

.section-features {
  padding-bottom: 96px;
  padding-top: 96px;
  margin-left: 0;
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.about-features {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.features-icon {
  display: none;
}

.section-title {
  margin-bottom: 8px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.section-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*--------3 SECTION WHAT DOING--------*/

.features-doing {
  display: none;
}

/*---------4 SECTION TEAM---------*/

.section-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--primary-background-color);
}

.section-team-features {
  margin-bottom: 72px;
  color: var(--main-text-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.list-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.list-team-image {
  background-color: var(--page-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.container-info {
  padding: 32px 16px;
}

.section-team-title {
  text-align: center;
  margin-bottom: 8px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-team-text {
  text-align: center;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.socialmedia-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 8px;
}

.socialmedia-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-dark-color);
  background-color: var(--accent-dark-color);
}

.social-icon {
  fill: var(--primary-background-color);
}

/*-----5 SECTION CUSTOMERS-----*/

.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-customers-features {
  margin-bottom: 72px;
  color: var(--main-text-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.about-customers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.about-customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--helper-text-color);
  color: var(--helper-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-dark-color);
  background-color: var(--accent-dark-color);
}

.customers-logo {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-dark-color);
  border-color: var(--accent-dark-color);
}

/*-------------FOOTER------------*/

.footer {
  background-color: var(--main-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-logo {
  color: var(--accent-color);
  display: block;
  margin-bottom: 16px;
}

.logo-logo,
.accent-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.accent-accent {
  color: var(--primary-background-color);
}

.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 268px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
}

/*------Footer Social Media------*/

.footer-socialmedia-container {
  margin-bottom: 72px;
}

.footer-title {
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--page-background-color);
}

.ft-socialmedia-list {
  display: flex;
  gap: 16px;
}

.ft-socialmedia-item {
  width: 40px;
  height: 40px;
}

.ft-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ft-social-link:hover,
.ft-social-link:focus {
  color: var(--green-color);
  background-color: var(--green-color);
}

.ft-social-icon {
  fill: var(--primary-background-color);
}

/*------Footer Subscribe Form------*/
.subscribe {
  display: block;
}

.subscribe-input {
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--page-background-color);
  outline: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.subscribe-input:focus {
  color: var(--page-background-color);
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--page-background-color);
}

/*------Footer Button------*/
.subscribe-button {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--page-background-color);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button-icon {
  margin-left: 16px;
  fill: var(--page-background-color);
}

.subscribe-button-icon:hover,
.subscribe-button-icon:focus {
  background-color: var(--accent-dark-color);
}

/*------MODAL------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 392px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--accent-dark-color);
  border: none;
}

.icon-close-black {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-close-black,
.modal-close:focus .icon-close-black {
  fill: var(--page-background-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*------MODAL FORM------*/
.modal-title {
  margin-bottom: 16px;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.modal-field {
  margin-bottom: 8px;
}

.label-input {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--helper-text-color);
}

.input-wrap {
  position: relative;
}

.modal-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-privacy {
  margin-bottom: 24px;
}

.modal-check {
  width: 16px;
  height: 16px;
}

.check-text {
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--helper-text-color);
}

.check-text-text {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text .check-text-text {
  background-color: var(--accent-dark-color);
  border: none;
  fill: var(--primary-background-color);
}

.link-privacy {
  color: var(--accent-color);
}

/*------Send Button------*/

.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

.send-button {
  display: block;
  min-width: 169px;
  text-align: center;
  padding: 16px 32px;
  height: 56px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  color: var(--page-background-color);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------PAGE PORTFOLIO------*/

/*-------Buttons--------*/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.button-list-item {
  width: calc((100% - 96px) - 5);
}

.button-btn {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--primary-background-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-btn:hover,
.button-btn:focus {
  color: var(--page-background-color);
  background-color: var(--accent-dark-color);
  border: 1px solid transparent;
}

/*--------SECTION PORTFOLIO------*/

.portfolio {
  padding: 96px 0 120px;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item-active {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item-active:hover,
.gallery-item-active:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-example-picture {
  position: relative;
  overflow: hidden;
}

.gallery-example-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.gallery-item-active:hover .gallery-example-text,
.gallery-item-active:focus .gallery-example-text {
  transform: translateY(0%);
}

.gallery-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
